[Unit]
Description=Python Water Service
After=syslog.target
After=network.target

[Service]
Type=simple
PIDFile=/run/python_water_service.pid
ExecStart=
Restart=on-failure
OOMScoreAdjust=-100
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier="python_water_service"

[Install]
WantedBy=multi-user.target